@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

/* Hover text animation */
@layer utilities {

  /* To the right */
  .hoverText:hover+.hoverText {
    font-weight: 700;
    color: #cbd5e1;
  }

  .hoverText:hover+.hoverText+.hoverText {
    font-weight: 500;
    color: #e2e8f0;
  }

  .hoverText:hover+.hoverText+.hoverText+.hoverText {
    font-weight: 300;
    color: #f1f5f9;
  }

  /* To the left */
  .hoverText:has(+.hoverText:hover) {
    font-weight: 700;
    color: #cbd5e1;
  }

  .hoverText:has(+.hoverText +.hoverText:hover) {
    font-weight: 500;
    color: #e2e8f0;
  }

  .hoverText:has(+.hoverText +.hoverText +.hoverText:hover) {
    font-weight: 300;
    color: #f1f5f9;
  }

}